body{
    background-color: #57564F;
    color: bisque;
    
}

.wrapper{
    display: flex;
    /* height: 700px; */
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
h1{
    font-size: 35px;
}

#form{
    display: flex;
    flex-direction: column;
}
#guess{
    margin: 5px 10px 20px 100px;
    padding: 10px;
    font-size: 55px;
}
.guessField{
    border: 4px solid gray;
    margin: 10px 105px 10px 105px;
    padding: 10px;
    font-size: 25px;
    font-weight: bold;
    text-align: center;
    
    
}
#subt{
    margin: 25px 150px 20px 150px;
    padding: 9px;
    background-color: black;
    color: rgb(243, 245, 239);
    font-size: large;
    border-radius: 10px;
}
.resultParas{
   /* margin: 0px 0px 20px 20px; */
    /* padding: 5px; */
    font-size: 20px;
}

#newGame{
    border: 1.5px dotted #1C352D ;
    border-radius: 7px;
    background-color: #7D8D86;
    color:#1C352D;
    text-align: center;
    margin: 0px 80px 0px 80px;
}
.guessField:hover{
    border-color: rgb(75, 173, 173);
}